@charset "UTF-8";
/* CSS Document */

:root {
	--logo-color-1: rgb(167, 149, 131);
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}