.container {
    display: block;
    position: relative;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 18px;
}

.container p{
    margin-bottom: 2em;
}

.table_of_contents{
    margin-right: 4em;
    margin-bottom: 4em;
    position:relative;
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    background-color: #cccccc;
    height:fit-content;
    width: fit-content;
    padding: 1em;
    padding-left: 2em;
    float:left;
}

.table_of_contents a {
    color: black;
    text-decoration: none;
}


.table_of_contents h3{
    margin-right: 5em;
}

.table_of_contents text{
    margin-left: 1em;
    margin-bottom: 0.25em;
}

.main_header {
    display: flex;
    position: relative;
    background-color: grey;
    align-self: center;
    width: 70%;
    margin-bottom: 1em;
    left: 2em;
    border-radius: 20px;
}

.main_header h2{
    margin: 0.75em;
    color: white;
}

.background_block {
    position: absolute;
    background-color: #aaaaaa;
    width: 100%;
    height: 100%;
    z-index: -1;
    right: 2em;
    border-radius: 20px;
}