.container {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	padding-right: 4em;
	font-size: 18px;
	min-height: 70vh;
}

.first_block {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-left: 9em;
}

.first_block h1 {
	color: white;
	background-color: #393939;
	border-radius: 10px;
	width: 872px;
	height: 124px;
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 51px;
	display: flex;
	align-items: center;
	padding-left: 1em;
	margin-left: 3em;
}

.first_block_body {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	width: 872px;
	height: fit-content;
	margin-top: 1em;
	margin-left: 5.5em;
}

.first_block_foot {
	display: flex;
	width: fit-content;
	height: 155px;
	text-align: center;
	margin-left: 5.5em;
}

#thirty {
	font-family: 'Inspiration';
	font-style: normal;
	font-weight: 400;
	font-size: 128px;
	line-height: 163px;
	color: #788264;
	margin-right: 0.15em;
}

#years {
	font-family: 'Lora';
	font-style: italic;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	display: flex;
	align-items: center;
}

.second_block {
	width: 100vw;
	display: flex;
	flex-direction: row;
	background: linear-gradient(95.13deg, #fffbff 0%, #adc178 100%);
}

.second_block p {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	align-items: center;
	width: 730px;
	height: fit-content;
	margin: auto;
}

.second_block img {
	margin-right: auto;
}

.third_block {
	width: 100vw;
	display: flex;
	margin-top: 3em;
	margin-bottom: 3em;
}

.third_block_body {
	font-family: 'Lora';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
	line-height: 44px;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	width: 924px;
	height: 242px;
	margin-left: 4em;
}

.third_block_body p {
	position: relative;
	color: #272b2d;
}

.third_block_body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../public/images/coffee_beans1.png');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	border: 2px solid #313638;
	border-radius: 10px;
	box-shadow: inset 0 0 0 1000px rgba(173, 153, 132, 0.8);
}

.third_block a {
	background-color: #adc178;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
	display: flex;
	color: #313638;
	margin-left: 10em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin: auto;
	width: 261px;
	height: 84px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.3s all ease-in-out;
}

.third_block a button {
	background-color: #adc178;
	border: none;
	transition: 0.3s all ease-in-out;
}

.third_block a:hover {
	background-color: #788264;
}

.third_block a:hover > button {
	background-color: #788264;
}
