.carousel {
    text-align: center;
    width: 100vw;
    height: 95vh;
    margin: auto;
}

.carouselImage {
    margin: 0 auto;
    width: 100vw;
    height: 95vh;
    object-fit: cover;
}

.carouselItem div {
    position: absolute;
    background-color: rgba(140, 100, 110, 0.5);
    height: fit-content;
    width: 25%;
    border-radius: 1.25em;
    top: 25%;
    left: 10%;
}

.caption h3 {
    color:white;
    filter:brightness(1);
    font-size: 28px;
}

.caption p{
    color: white;
    font-size: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}