.container{
    display:flex;
    flex-direction:row;
    width: fit-content;
    height:fit-content;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 2em;
    margin-top: 2em;
    justify-content:center;
}

.container div{
    display: flex;
    gap: 0.5em;
    margin: auto;
}

.menu_button {
    width: 8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
    font-size: 20px;
    transition: all 0.4s linear; 
}

@media(max-width: 1366px){
    .container{
        margin-left: auto;
        margin-right:auto;
    }
}