.footer {
	margin-top: 100px;
	position: relative;
	background-color: #1b1c1e;
	color: #eee5e9;
	padding: 40px 0;
	background-image: url('../public/images/footerBG.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 5rem;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 25%;
	padding: 0 20px;
	justify-content: flex-start;
	align-items: center;
}

.column:first-child {
	margin: 0rem -5rem;
}

.header3 {
	color: 'white';
	font-size: 44px;
	font-family: 'Lora';
	font-weight: '600';
	letter-spacing: 2.2;
	word-wrap: 'break-word';
}

.wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.wave > svg {
	position: relative;
	display: block;
	width: calc(150% + 1.3px);
	height: 100px;
}

.shapeFill {
	fill: #eee5e9;
}

.coffeeIconText {
	display: flex;
	width: 9.125rem;
	margin-top: 1rem;
	height: 2rem;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	content: 'Follow';
	color: #fff;
	text-align: center;
	font-family: 'La Belle Aurore';
	font-size: 3rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.15rem;
}

.socialsContainer {
	width: fit-content;
	display: flex;
	justify-content: space-between;
}

.socialsContainer > a {
	margin-right: 1rem;
}

.socialsContainer > a > img {
	transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.socialsContainer > a > img:hover {
	animation: shake 0.5s ease-in-out 1;
}

.socialsContainer > a > img:active {
	transform: scale(1.2);
}

.lineThree {
	margin-bottom: 2rem;
}
.storeHours {
	display: flex;
	flex-direction: row;
}

.daysContainer {
	width: inherit;
}

.days {
	color: #fff;
	text-align: right;
	font-family: 'Lora';
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.hoursContainer {
	display: flex;
	flex-direction: column;
}

.hours {
	color: #fff;
	font-family: 'Lora';
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 2rem;
}

.contactUsText {
	display: flex;
	flex-direction: row;
	color: #fff;
	text-align: left;
	font-family: 'Lora';
	font-size: 1.75rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.0875rem;
	text-align: left;
	width: max-content;
	cursor: pointer;
	word-wrap: initial;
}

.newsletterInput {
	color: #74808b;
	text-align: left;
	font-family: 'Lora';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.075rem;
	border-radius: 0.5rem;
	background: #f5f5f5;
	width: 100%;
	height: 3.625rem;
	flex-shrink: 0;
	padding-left: 1rem;
	padding-right: 2.5rem;
}

.newsletterInput::before {
	content: 'enter your email';
	position: absolute;
	left: 0;
	bottom: 0;
	white-space: nowrap;
	font-family: 'Lora';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.075rem;
	animation: typing 8s steps(22), blink-caret 0.75s step-end infinite;
}

.newsletterInputBtn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem 0.5rem;
	margin: 0.3rem;
	margin-right: 0.5rem;
	border-radius: 0.5rem;
	background: #1b1c1e;
	transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.newsletterInputBtn:hover {
	animation: shake 0.5s ease-in-out 1;
}

.newsletterInputBtn:active {
	transform: scale(1.3);
	transform: rotate(8deg);
	background-color: #788264;
	border-color: #788264;
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg); /* Adjusted rotation angles */
	}
	25% {
		transform: rotate(10deg); /* Less dramatic change at the beginning */
	}
	50% {
		transform: rotate(-10deg); /* Smoother transition towards the end */
	}
	75% {
		transform: rotate(5deg); /* Gradual transition to the final position */
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-right-color: transparent;
	}
	50% {
		border-right-color: #333; /* Change this to match your background color */
	}
}
