.header {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.header img {
	display: flex;
	margin: auto;
	height: 15.17094017094017vh;
	width: 53.229166666666664vw;
}

@media (min-width: 1200px) {
	.header {
		padding-top: 0.5rem;
	}
}

.header p {
	display: flex;
	margin: auto;
	text-align: center;
}

.headerBG {
	background: linear-gradient(180deg, rgba(173, 193, 120, 1), rgba(173, 193, 120, 0));
}
