.header {
	display: flex;
	flex-direction: column;
	width: 100vw;
	border-radius: 0 0 50px 50px;

	background: linear-gradient(180deg, rgba(173, 193, 120, 1), rgba(173, 193, 120, 0));
}

.header img {
	display: flex;
	margin: auto;
	height: 15vh;
	width: 53vw;
	margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
	.header {
		padding-top: 0.5rem;
	}
}
