.LandingPage{
    justify-content:space-between;
}



.LandingPage__Logo {
    display:inline-flex;
    height: 18em;
    width: 20em;
    min-width: 20em;
    position: relative;
    margin-right: 10em;
    margin-bottom: 5em;
    transform: translate(25em, 15em);

}

.LandingPage__navLinks {
    background-color: rgb(239, 234, 228);
    color: rgb(51, 50, 39);
    list-style: none;
    align-items: center;
    justify-items: center;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 20px;
    padding: 0;
    position: relative;
    height: auto;
    width:fit-content;
    float: right;
    transform: translate(-2em, 1em);
}


    .LandingPage__navLinks a {
        position: relative;
        text-decoration: none;
        margin:auto;
        overflow: auto;
        float:right;
        pointer-events:none;
    }

    .LandingPage__navLinks button {
        background-color: rgb(239, 234, 228);
        border-color: black;
        border-style: solid;
        border-width: 1.5px;
        border-radius: 5px;
        font-size: 20px;
        margin: 10px;
        padding:0;
        padding-inline-start: 4em;
        padding-inline-end: 4rem;
        width: 25rem;
        height:3.5rem;
        pointer-events:all;
    }

    .LandingPage__navLinks button:hover {
        background: #808080;
        color: white;
        cursor:pointer;
    }

.socials img{
    width: 2em;
    height: 2em;
    padding: 1em;
    padding-inline-start: 1.5em;
    padding-inline-end: 1.5em;
    display: inline-flex;
    transform: translateX(11px);
}