.navbar {
	color: black;
	text-align: center;
	width: 100vw;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
}

.navbar a {
	text-align: center;
	align-items: center;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 22px;
	font-weight: 500;
	font-family: 'Quicksand';
	margin-top: 14px;
	height: auto;
	width: 10rem;
	margin-right: 1rem;
}
