.navbar {
	color: black;
	text-align: center;
	width: 100%;
	/* transition: top 0.3s ease; */
}

.navbar li {
	list-style-type: none;
	display: inline-block;
}

.navbar a {
	text-align: center;
	align-items: center;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 1.375rem;
	font-weight: 500;
	font-family: 'Quicksand';
	height: auto;
	width: 10rem;
	margin-right: 1rem;
}

.navbar a:hover {
	background-color: #9fa988;
	border-radius: 0.5rem;
}

.navbar a:active {
	background-color: #788264;
	border-radius: 0.5rem;
}

.navbarScrolled {
	display: flex;
	background: linear-gradient(180deg, #adc178 10.85%, white);
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;
	justify-content: space-between;
}

.navbarScrolled a {
	width: fit-content;
}

.navbarScrolled a > img {
	margin-left: 20px;
	width: 20vw;
	height: 9vh;
	margin-bottom: auto;
	margin-top: auto;
}

.navbarScrolled ul {
	margin-top: auto;
}

.navbarScrolled li > a {
	justify-content: center;
	font-size: 1rem;
	width: 100px;
}
