.Container {
	display: flex;
	text-align: center;
	justify-content: center;
}

.ImageContainer {
	margin-right: 10rem;
	width: 100%;
}

.ImageContainer img {
	margin: 1rem;
	border-radius: 10px;
	max-width: 100%;
	height: max-content;
}

.header {
	margin: auto;
}

.header h2 {
	margin-bottom: 20rem;
}

.header a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 30px;
}
