.container {
	width: 100%;
	height: fit-content;
}

.hero_container {
	display: flex;
	width: 100vw;
	height: 54em;
	object-fit: contain;
}

.hero_container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 0px -16em;
	overflow: hidden;
}

.item_container {
	flex-wrap: wrap;
	display: flex;
	margin-left: 2em;
	margin-right: 2em;
	gap: 5em;
}
