.container {
	width: 100%;
	height: fit-content;
}

.hero_container {
	display: flex;
	width: 100vw;
	height: auto;
	overflow:hidden;
}

.hero_container img {
	height: auto;
	width: 100%;
	object-fit: cover;
}

.item_container {
	flex-wrap: wrap;
	display: flex;
	margin-left: 2em;
	margin-right: 2em;
	gap: 5em;
}
