@charset "UTF-8";
/* CSS Document */

:root {
	--logo-color1: rgb(167, 149, 131);
	--background-color1: rgb(250, 249, 247);
	--navbar-bg: rgb(239, 234, 228);
	--text-color1: rgb(51, 50, 39);
}

#header {
	background-color: lightgray;
}

#header img {
	display: block;
	width: 25rem;
	height: 10rem;
	margin: auto;
	padding-bottom: 1rem;
}

#header p {
	padding-top: 1rem;
	text-align: center;
}

#navbar {
	background-color: lightgray;
	color: black;
	margin: auto;
	text-align: center;
}

#navbar ul {
	background-color: gray;
	list-style-type: none;
}

#navbar li {
	text-align: center;
	border-width: 1.5px;
	border-radius: 0.5rem;
	background-color: gray;
	list-style-type: none;
	margin-right: 2rem;
	float: none;
	display: inline-block;
	margin: 10px 1rem;
}

#navbar a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
	padding: 1rem;
	font-size: 30px;
	font-weight: bold;
	display: flex;
	padding: 1rem 1rem;
	justify-content: space-between;
}
