@charset "UTF-8";
/* CSS Document */

/* Reset all default styles */
@font-face {
	font-family: 'Lora';
	src: url('../public/fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Quicksand';
	src: url('../public/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Inspiration';
	src: url('../public/fonts/Inspiration-Regular.ttf');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: red 1px solid; */
}

:root {
	--logo-color1: rgb(167, 149, 131);
	--background-color1: rgb(250, 249, 247);
	--navbar-bg: rgb(239, 234, 228);
	--text-color1: rgb(51, 50, 39);
}

body {
	box-sizing: border-box;
	background-color: #eee5e9;
}

.carousel-indicators [data-bs-target] {
	width: 12px;
	height: 12px;
	border: 1px solid transparent;
	border-radius: 1em;
	pointer-events: all;
}

.carousel-control-next {
	top: 45%;
	bottom: 45%;
	width: 5em;
	right: 0em;
}

.carousel-control-next-icon {
	background-color: rgba(50, 50, 50, 0.5);
}

.carousel-control-prev {
	top: 45%;
	bottom: 45%;
	width: 5em;
	right: 0em;
}

.carousel-control-prev-icon {
	background-color: rgba(50, 50, 50, 0.5);
}
